.logo {
    width: 200px;
  }

  .instagram, .facebook,
  .twitter {
    width: 50px;
  }

  .flex {
    margin: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #414345, #232526);

  }