* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-darkest: #362E2D;
  --clr-lightest:#7C8685;
  --clr-light:#AAACA1;
}

body {
  background: #303030;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
